/* SIGNIN AND SIGNUP PAGES */

.login-background {
    background: linear-gradient(15deg, #6579ea 50%, #FFF 50%);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-div {
    width: 400px;
    height: 350px;
    padding: 20px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 10px 0px 20px -5px;
}

.form-div-inside {
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.form-div-signup {
    width: 400px;
    height: 550px;
    padding: 20px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 10px 0px 20px -5px;
}

.form-div-inside-signup {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 10px;
    /* margin-top: 10px; */
    border: 0;
    border-radius: 0px;
    border-bottom: 2px solid #6579ea;
}

.input-feedback {
    color: red;
    margin-top: .25rem;
}

.signin-btn  {
    margin-top: 20px;
    padding: 10px;
    background: #6579ea;
    border: none;
    border-radius: 20px;
}
.cancel-btn  {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.signin-redirect {
    margin-top: 20px;
}

/* END SIGNIN AND SIGNUP PAGES */

/* NAVBAR DASHBOARD */

.dashboard-nav {
    /* position: relative; */
    height: 80px;
    background-color: #6579ea;
    /* display: flex; */
}

.signout-btn {
    margin-top: 20px;
    padding: 10px;
    background: #6579ea;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 10px;
    width: 80px;
}

/* END NAVBAR DASHBOARD */

/* DASHBOARD IMAGES */

.dashboard-bg {
    background-color: #F7F7F7;
}
 
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.images {
    /* display: flex;
    justify-content: center; */
    margin: 20px;
    width: 50%;
    /* height: 30%; */
    /* border: 2px solid #000; */
}

.images p {
    margin: 5px;
}

.card-header {
    background-color: #FFF;
}

.button-more-images {
    /* display: flex; */
    /* justify-content: center; */
}

.btn-more-images {
    /* border: none;
    padding: 5px;
    margin-top: 10px; */
    color: #A5A5A5;

}
.btn-more-images:hover {
    /* border: none;
    padding: 5px;
    margin-top: 10px; */
    cursor: pointer;
}

.comment-field {
    border-bottom: none;
    margin: 0;
}

.comment-field:focus {
    box-shadow: none;
}

.comment-form {
    display: flex;
    flex-direction: row;
}

.btn-comment {
    background-color: #FFF;
    color: #AAA;
    border: 1px solid #A5A5A5;
}

/* END DASHBOARD IMAGES */


/* USER ICON IMAGES */

.user-icon {
    border: 1px solid #6579ea;
    border-radius: 100%;
    border-color: #CCC;
    width: 2.5em;
    height: 2.5em;
    margin-right: 10px; 
}

/* END USER ICON IMAGES */
