/* SIGNIN AND SIGNUP PAGES */

.login-background {
    background: linear-gradient(15deg, #6579ea 50%, #FFF 50%);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-div {
    width: 400px;
    height: 350px;
    padding: 20px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 10px 0px 20px -5px;
}

.form-div-inside {
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.form-div-signup {
    width: 400px;
    height: 550px;
    padding: 20px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 10px 0px 20px -5px;
}

.form-div-inside-signup {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 10px;
    /* margin-top: 10px; */
    border: 0;
    border-radius: 0px;
    border-bottom: 2px solid #6579ea;
}

.input-feedback {
    color: red;
    margin-top: .25rem;
}

.signin-btn  {
    margin-top: 20px;
    padding: 10px;
    background: #6579ea;
    border: none;
    border-radius: 20px;
}
.cancel-btn  {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.signin-redirect {
    margin-top: 20px;
}

/* END SIGNIN AND SIGNUP PAGES */

/* NAVBAR DASHBOARD */

.dashboard-nav {
    /* position: relative; */
    height: 80px;
    background-color: #6579ea;
    /* background-color: #FFF; */
    /* display: flex; */
    /* border-bottom: 1px solid #CCC; */
}

.signout-btn {
    margin-top: 20px;
    padding: 10px;
    background: #6579ea;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 10px;
    width: 80px;
}

.nav-items {
    padding-right: 20px;
}

.nav-items-logo {
    color: #FFF;
}

.nav-items-logo:hover {
    color: #FFF;
    text-decoration-line: none;
}

/* END NAVBAR DASHBOARD */

/* DASHBOARD IMAGES */

.dashboard-bg {
    background-color: #F7F7F7;
}
 
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.images {
    /* display: flex;
    justify-content: center; */
    margin: 20px;
    width: 50%;
    /* height: 30%; */
    /* border: 2px solid #000; */
}

.images p {
    margin: 5px;
}

.card-header {
    background-color: #FFF;
}

.card-body {
    padding-top: 0;
}

.button-more-images {
    /* display: flex; */
    /* justify-content: center; */
}

.btn-more-images {
    /* border: none;
    padding: 5px;
    margin-top: 10px; */
    color: #A5A5A5;

}
.btn-more-images:hover {
    /* border: none;
    padding: 5px;
    margin-top: 10px; */
    cursor: pointer;
}

.comment-field {
    border-bottom: none;
    margin: 0;
}

.comment-field:focus {
    box-shadow: none;
}

.comment-form {
    display: flex;
    flex-direction: row;
}

.btn-comment {
    background-color: #FFF;
    color: #AAA;
    border: 1px solid #A5A5A5;
}

.like {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like-buttom {
    padding: 0;
}
/* END DASHBOARD IMAGES */


/* USER ICON IMAGES */

.user-icon {
    border: 1px solid #6579ea;
    border-radius: 100%;
    border-color: #CCC;
    width: 2.5em;
    height: 2.5em;
    margin-right: 10px; 
}

/* END USER ICON IMAGES */

/* USER PROFILE */

.user-info {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
    /* padding-left: 75px; */
}

.user-photo {
    display: flex;
    justify-content: center;
}

.user-photo:hover {
    cursor: pointer;
}

.user-photo img {
    /* margin-left: 10px; */
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.user-data {

}

.btn-edit-info {
    margin-left: 15px;
    padding: 5px;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    color: #555;
}

.user_images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 65px; */
}

.image {
    position: relative;
    margin: 15px;
    width: 300px;
    height: 300px;
    display: flex;
}

.image {
}


/* .image img {
    margin: 15px;
    width: 300px;
    height: 300px;
} */

.user-images-profile,
.user-images-profile-info {
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 0;
    left: 0; */
}

.user-images-profile-info:hover {
    /* z-index: 10; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: black;
    opacity: .8;
    /* padding: 150px 0 0 150px; */
}


.user-images-profile-info {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: transparent;
    transition: .2s ease;
}

.user-images-likes {
    margin-right: 20px;

}


/* END USER PROFILE */

/* IMAGE UPLOAD */

input[type="file"] {
    display: none;
}

.image-upload {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 12px 12px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #6579ea;
}

.profile-picture-upload {
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end; */
}

.profile-picture-upload-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: #FFF;
    border-radius: 20px;
    margin-left: calc(50% - 200px);
    margin-top: calc(25% - 100px);
}

.profile-picture-cancel {
    border: none;
    background-color: #FFF;
    color: #ea6565
}

/* END IMAGE UPLOAD */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}